@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

/*.custom-bg {
    background: linear-gradient(135deg, #3b2864, #3b2864 0%, #362260 20%, #353859 40%, #343333 45%, #2c1b1b 50%, #402e2e 60%, #403131 60%, #333 80%, #000);
    background-size: 100% 100%;
  }*/

  .custom-bg {
    background-image: url('./assets/background.png');
    background-size: 100% ;
    background-repeat: no-repeat;
    background-color: black;
  }

  .buton{
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 0px #FF3383;
  }

  .buton:hover{
    transition: all 0.3s ease;
    box-shadow: none;
  }

  .buton1{
    transition: all 0.3s ease;
    box-shadow: 0 0 30px 0px rgb(21 128 61 / var(--tw-bg-opacity));;
  }

  .buton1:hover{
    transition: all 0.3s ease;
    box-shadow: none;
  }

  .buton2{
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 0px #6469ff
  }

  .buton2:hover{
    transition: all 0.3s ease;
    box-shadow: none;
  }